<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <BatchSize>900</BatchSize>
  </RunConfiguration>
  <!-- Parameters used by tests at run time -->
  <TestRunParameters>
    <Parameter name="SiteUrl" value="https://culverespc2019.sharepoint.com/sites/UIAutomationVS" />
    <Parameter name="Username" value="melanie@culverespc2019.onmicrosoft.com" />
    <Parameter name="Password" value="An;`KCd/ae2.X%|nb&amp;-f" />
    <Parameter name="Browser" value="Chrome" />
    <!-- END - Parameters used by tests at run time -->
  </TestRunParameters>
</RunSettings>